@font-face {
  font-family: "title";
  src: url("../assets/fonts/title.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "body";
  src: url("../assets/fonts/body.otf");
  font-weight: normal;
  font-style: normal;
}
