@import "../../../baseStyles/shared.scss";

.serviceOuterContainer {
  background-color: $fadedbg;

  .serviceContainer {
    @include containerInside;

    .ourServices {
      @include heading;
    }

    .serviceGrid {
      padding: 0px; // padding and margin are set to zero so that this div matches
      margin: 0px; // the alignment with Our Services heading

      .outerService {
        margin-bottom: 12px;

        @include landscapeTablet() {
          margin-bottom: 15px;
        }

        .innerService {
          background-color: white;
          -webkit-transition: background-color 0.5s ease 0s;
          transition: background-color 0.5s ease 0s;
          text-align: center;
          padding: 40px 15px 38px 15px;

          -webkit-box-shadow: 0 10px 6px -6px rgb(214, 213, 213);
          box-shadow: 0 10px 6px -6px rgb(214, 213, 213);

          @include largeDesktop() {
            padding: 50px 15px 45px 15px;

            &:hover {
              background-color: $primaryColor;
              // background: linear-gradient(
              //   to top left,
              //   $gradientValue1,
              //   $gradientValue2
              // );
              // -webkit-transition: background 0.5s ease 0s;
              transition: background-color 0.5s ease 0s;

              .icon {
                color: white;
                -webkit-transition: color 0.5s ease 0s;
                transition: color 0.5s ease 0s;
              }

              p {
                color: white;
                -webkit-transition: color 0.5s ease 0s;
                transition: color 0.5s ease 0s;
              }

              .description {
                color: $fadedbg;
                -webkit-transition: color 0.5s ease 0s;
                transition: color 0.5s ease 0s;
              }
            }
          }

          .icon {
            margin-bottom: 20px;
            font-size: 28px;
            color: $primaryColor;
            -webkit-transition: color 0.5s ease 0s;
            transition: color 0.5s ease 0s;
            @include landscapeTablet() {
              margin-bottom: 22px;
              font-size: 32px;
            }
            @include largeDesktop() {
              margin-bottom: 28px;
              font-size: 34px;
            }
          }

          p {
            font-family: $titleFont;
            color: $title;
            -webkit-transition: color 0.5s ease 0s;
            transition: color 0.5s ease 0s;
            padding: 0px;
            width: 60%;
            margin: auto;
            font-size: 14px;
            @include landscapeTablet() {
              width: 80%;
              font-size: 15px;
            }
            @include largeDesktop() {
              font-size: 16.5px;
            }
          }

          .description {
            font-family: $bodyFont;
            color: $bodytxt;
            -webkit-transition: color 0.5s ease 0s;
            transition: color 0.5s ease 0s;
            font-size: 12px;
            width: 80%;
            margin: auto;
            margin-top: 12px;
            @include landscapeTablet() {
              margin-top: 15px;
              font-size: 12.5px;
            }
            @include largeDesktop() {
              margin-top: 20px;
              font-size: 13.5px;
            }
          }
        }
      }
    }

    .moreBtn {
      @include primaryBtn;
    }
  }
}
